@import 'common.scss';
@import 'var.scss';
@import 'mixin.scss';

@media(max-width: 850px) {

  .container {
    width: 850px;
    padding-left: 60px;
    padding-right: 60px;
    background-size: cover;
  }

  .content_left {
    flex: 1 1 100%;
    position: relative;
    text-align: center;

    &_title {
      margin-bottom: 13.52px;
      font-size: 33px;
      line-height: 100%;
      letter-spacing: -0.01em;
      text-align: left;
    }

    &_title::after {
      content: url('../images/heart850.svg');
      left: 250px;
      top: -15px;
    }

    &_description {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.02em;
      text-align: left;
    }

    .article {
      margin-left: 0;
      justify-content: flex-end;

      #article {
        width: 24px;
        height: 16.46px;
      }

      &_description {

        &_text {
          margin-left: 20.41px;
          margin-bottom: 15.52px;
          max-width: 484.28px;
          font-size: 20px;
          line-height: 27px;
          letter-spacing: -0.02em;
          text-align: left;
        }

        &_autor {
          margin-left: 20.41px;
          font-size: 14px;
          line-height: 130%;
          text-align: left;
        }
      }
    }

    &_btn {
      margin: 0 auto;
      padding: 14px 41px;
      font-size: 16px;
      line-height: 20px;
    }

    .jobs {
      display: none;
    }

    .jobs850 {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  .content_right {
    flex: 1 1 100%;

    .table {
      margin-top: 53.34px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px 6.93px;

      &_list {
        padding-left: 22.16px;

        &_icon {
          margin-top: 12.66px;
          margin-right: 25px;
          max-width: 43.65px;
          max-height: 39.2px;
        }

        &_description {
          margin-bottom: 4.16px;
          font-size: 14px;
          line-height: 110%;

          &_span {
            max-width: 149.68px;
            font-size: 10px;
            line-height: 170%;
            color: #CCD4D9;
          }
        }
      }

      &_list:nth-child(1),
      &_list:nth-child(2),
      &_list:nth-child(3),
      &_list:nth-child(4) {
        background-color: #303948;
      }

      &_list:nth-child(5),
      &_list:nth-child(6),
      &_list:nth-child(7),
      &_list:nth-child(8) {
        @include SecondCarts;
      }

    }
  }
}
